.popupTEST .popuptextTEST{
    position: absolute;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    visibility: hidden; /* a changer en hidden pour la mise en prod*/
}
.popupTEST {
    position: fixed;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
}

.popupTEST .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popupTEST .popuptextTEST::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
