html, body {
    margin: 0;
    height: 100%;
}

iframe{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height:calc(100% - 3em)
}

h1
{
    vertical-align: middle;
    flex: 2 1 0;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#container{
    padding: 0.5em;
}

#img_legende{
    height: 2em;
    float: left;
}

#Légende{
    margin-top: 0.4em;
}

#Top_Bar{
    display: flex;
    height: 3em;
    flex-flow: row-reverse wrap-reverse;
    margin: 0px;
    padding: 0px;
}

#log_erreur{
    text-align: center;
}

#exp_erreur{
    text-align: center;
    font-weight: normal;
}

.btnPopup{
    flex: 0 0 12em;
    background-color:gainsboro;
    border-color: black;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    border-radius: 0.5em;
    height: 3em;
}

.btnPopup:hover{
    background-color: gray;
}

.overlay {
    position: fixed;
    left: 0px;
    top:0px;
    background-color: rgba(0,0 ,0 , 0.5);
    width: 100%;
    height: 100%;
    z-index:1;
    display:none;
}
.popup{
    position: relative;
    margin: 7.5% 15%;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow-y: auto;
    height: 70%;
}
.IOSpopup{
    position: fixed;
    margin-top: 110%;
    margin-left: 15%;
    width : 70%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    border-radius: 5px;
    overflow-y: auto;
    height: 5rem;
    z-index: 1;
    display: none;
}
.btnClose {
    position: absolute;
    top: 0;
    right: 0.3em;
    font-size: 1.8em;
    cursor: pointer;
    color: rgb(26, 26, 26);
}
.justifedText {
    text-align: justify;
}